.search-car-box {
  position: relative;
  width: 1047px;
  height: 106px;
  left: 166px;
  top: -40px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.frame-car-box {
  font-family: "Arial";
  font-style: normal;
  padding: 0px;
  gap: 10px;
  margin: auto;
}
.form-group {
  padding: 0px;
  gap: 4px;
  width: 208px;
}
.form-control {
  box-sizing: border-box;
  gap: 8px;
  width: 208px;
  height: 36px;
  padding: 1px;
  padding-left: 5px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8a8a8a;
}
/* style label */
label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #3c3c3c;
}
.option-custom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 208px;
  height: 114px;
  font-size: 16px;
}

/* style button search */
.btn-search {
  position: static;
  padding: 8px 12px;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 120px;
  height: 36px;
  background: #5cb85f;
  border-radius: 2px;
}
