/* style untuk home page */
.home-page {
  overflow: hidden;
}

/* style untuk search car */
.search-footer {
  width: 100%;
  height: 25em;
}

/* style untuk result car */
.result-head {
  width: 100%;
  height: 266px;
  left: 0px;
  top: 0px;
  background: #f1f3ff;
}
.result-footer {
  width: 100%;
  height: 25em;
}
/* .box-cari {
  position: relative;
  width: 100%;
  height: 250px;
  border: 1px solid red;
} */
.frame-result {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  /* position: absolute; */
  position: relative;
  width: 1047px;
  height: 478px;
  margin: auto;
  /* left: 196px; */
  /* top: 377px; */
  border: 1px solid red;
}
.card-result {
  padding: 24px;
  gap: 24px;
  width: 333px;
  height: 478px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.card-body-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;

  width: 285px;
  height: 358px;
  border: 1px solid black;
}
.btn-pilih-mobil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  position: static;
  width: 285px;
  height: 48px;
  background: #5cb85f;
  border-radius: 2px;
  color: #ffffff;
}

/* style detail car page */
.detail-car {
  position: relative;
  width: 100%;
  height: 1366px;
}
.detail-head {
  /* position: absolute; */
  width: 100%;
  height: 266px;
  left: 0px;
  top: 0px;
  background: #f1f3ff;
}
.detail-footer {
  position: absolute;
  width: 1141px;
  height: 128px;
  left: 173px;
  top: 1138px;
}
.detail-paket {
  position: absolute;
  width: 605px;
  height: 618px;
  left: 199px;
  top: 368px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 1px solid black;
}
.detail-paket-side {
  position: absolute;
  width: 405px;
  height: 435px;
  left: 836px;
  top: 368px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 1px solid black;
}
@media screen and (max-width: 576px) {
  .home-page {
    height: 290em;
    background: none;
  }
}
