.our-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1027px;
  height: 428px;
  margin: 8em auto 6em;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
}
/* style desc */
.desc {
  width: 468px;
  left: 765px;
  top: 640px;
}
.desc p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.frame .text-frame {
  font-size: 16px;
  line-height: 20px;
}
.frame .group-frame span {
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 576px) {
  .our-service {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 228px;
    top: -50px;
    margin-top: em;
    left: 0.5em;
  }
  .img-service img {
    width: 252px;
    height: 228px;
    margin-bottom: 1em;
  }
  .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 328px;
    height: 468px;
    left: 26px;
    top: 969px;
  }
}
