.why-us {
  width: 1168px;
  height: 308px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  margin: 0 auto 6em auto;
}
.why-us .text-decs-why p {
  height: 36px;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 36px;
}
.why-us .text-decs-why-2 p {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.list-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}
/* STYLE CARD PROPS */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  width: 268px;
  height: 196px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}
.card h6 {
  height: 24px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.card p {
  width: 220px;
  height: 60px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 576px) {
  .why-us {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px;
    gap: 16px;
    width: 328px;
    height: 1010px;
    left: 1em;
    top: 353px;
  }
  .list-items {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    padding: 0px;
    gap: px;
    left: 16px;
    top: 1513px;
  }
  .text-decs-why p,
  .text-decs-why-2 p {
    text-align: center;
    /* border: 1px solid black; */
  }
}
