.container-footer {
  width: 100%;
  height: 251px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 86px;
  width: 1141px;
  height: 228px;
  left: 136px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  margin: auto;
}
/* style addres footer */
.addres {
  font-size: 14px;
  line-height: 20px;
  width: 268px;
  height: 112px;
}
/* style navigation footer */
.nav-foot {
  padding: 0px;
  gap: 16px;
  width: 89px;
  height: 128px;
}
.nav-foot a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}
/* style sosmed */
.sosmed {
  width: 268px;
  height: 68px;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.sosmed p {
  width: 268px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.sosmed .list-sosmed {
  padding: 0px;
  gap: 16px;
  width: 224px;
  height: 32px;
}
/* style copyright */
.copyright {
  width: 268px;
  height: 70px;
  flex: none;
  order: 4;
  flex-grow: 0;
}
.copyright p {
  width: 268px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.rectacle-foot {
  width: 100px;
  height: 34px;

  background: #0d28a6;
}

@media screen and (max-width: 576px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 368px;
    height: 450px;
    left: 1em;
    top: 190px;
    padding-bottom: 1em;
    gap: 1px !important;
  }
  .nav-foot {
    width: 89px;
    height: 128px;
  }
  .sosmed {
    width: 268px;
    height: 68px;
  }
  .sosmed p,
  .sosmed .list-sosmed {
    position: static;
  }
  .copyright p,
  .rectacle-foot {
    position: static;
  }
  .addres {
    width: 268px;
  }
}
