.testimonial {
  position: relative;
  width: 1921px;
  height: 438px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  right: 20em;
  margin: 0 auto 6em auto;
}
h3,
h5 {
  text-align: center;
  font-weight: 700;
}
h3 {
  height: 36px;
  font-size: 24px;
  line-height: 36px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
.list-testi {
  width: 1921px;
  height: 270px;
  left: -241px;
  top: 1652px;
}
/* STYLE BUTTON CAROUSEL */
.button-carousel {
  width: 88px;
  height: 32px;
  margin: auto;
}
.button-carousel button {
  box-sizing: border-box;
  position: inherit;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-weight: 700;
}
.button-carousel .left {
  border: 1px solid #c4c4c4;
}
.button-carousel .right {
  border: 2px solid #ffffff;
}
/* STYLE CARD TESTIMONIAL */
.card-testi {
  width: 619px;
  height: 270px;
  background: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.card-testi img {
  width: 80px;
  height: 80px;
}
.box-text {
  gap: 8px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
}
.box-text .rate {
  width: 80px;
  height: 16px;
}
.box-text p {
  font-size: 14px;
  line-height: 20px;
  width: 415px;
  height: 80px;
}
.box-text span {
  width: 415px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 576px) {
  .testimonial {
    width: 328px;
    left: 1em;
    position: relative;
    top: 323px;
    height: 562px;
    overflow: hidden;
  }
  .list-testi {
    width: 328px;
    height: 392px;
    left: 16px;
    top: 2473px;
  }
  .card-testi {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 40px 32px;
    gap: 24px;
    box-sizing: border-box;
    width: 328px;
    height: 392px;
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  .box-text {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 328px;
    height: 392px;
  }
  .box-text p,
  .box-text span {
    text-align: center;
    width: 328px;
    height: 92px;
  }
  .button-carousel {
    margin-top: 2em;
  }
}
